node_modules
.env
.vscode
coverage
.scannerwork
docker-compose.yml
sonar-project.properties
.dev.env
.stage.env
.prod.env
test.js
package-lock.json
ssl
dump.json
stageDbDump.json
templates
sitemap.xml
templates.zip
cron.txt
cron_slug.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# node zip
node.zip
logs/
